@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased bg-white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }
}

details>summary::-webkit-details-marker {
  display: none;
}

details[open]>summary {
  @apply text-indigo-600;
}